.calculator-container {
	background-color: lightgray;
	height: 750px;
	width: 500px;
	display: flex;
	flex-direction: column;
}

.button-container {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-evenly;
	height: 100%;
	padding: 5%;
}

.display {
	display: flex;
	align-items: center;

	background-color: darkkhaki;
	height: 15%;
	font-weight: bold;
	font-size: larger;
	padding: 5%;
}